spring:

  datasource:
    url: jdbc:postgresql://localhost:5432/cartdb
    username: postgres
    password: divyaojha
  jpa:
    database: POSTGRESQL
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    hibernate:
      ddl-auto: update

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka


server:
  port: 8083
