spring:

  cloud:
    stream:
      bindings:
        createOrder-out-0:
          destination: order.exchange
          content-type: application/json
      kafka:
        binder:
          brokers: localhost:9092


  data:
    mongodb:
      uri: mongodb+srv://divyaojha792_db_user:divyaojha792@ecommcluster.iuusmqg.mongodb.net/orderdb?retryWrites=true&w=majority

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

server:
  port: 8084